{% include 'base/header.html' %}
	<div class="container">
		<div class="row">
			
			<div class="col-8">
				<div id="news-content">
					<div class="news-article show" style="background-image:url(https://habboo-a.akamaihd.net/c_images/web_promo/lpromo_Boho_Street_Market.png)">
						<div class="shadow"></div>

						<div class="news-content">
							<div class="news-title">Lorem ipsum</div>
							<div class="news-short-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
						</div>

						<div class="details-box">
							<div class="back-news"><i class="fal fa-angle-left"></i></div>

							<div class="authors-details">
								<div class="written-by">
									<b>Geschrieben von:</b>
									<span>Sonay</span>
								</div>
							</div>

							<a href="news.php" class="btn green news-slider-btn">Weiter lesen</a>

							<div class="next-news"><i class="fal fa-angle-right"></i></div>
						</div>
					</div>
					<div class="news-article show" style="background-image:url(https://habboo-a.akamaihd.net/c_images/web_promo/lpromo_Boho_Street_Market.png)">
						<div class="shadow"></div>

						<div class="news-content">
							<div class="news-title">Lorem ipsum 22222</div>
							<div class="news-short-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
						</div>

						<div class="details-box">
							<div class="back-news"><i class="fal fa-angle-left"></i></div>

							<div class="authors-details">
								<div class="written-by">
									<b>Geschrieben von:</b>
									<span>Sonay</span>
								</div>
							</div>

							<a href="news.php" class="btn green news-slider-btn">Weiter lesen</a>

							<div class="next-news"><i class="fal fa-angle-right"></i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<iframe src="https://discordapp.com/widget?id=570313601563492353&theme=dark" width="340" height="250" allowtransparency="true" frameborder="0"></iframe>
			</div>
			<div class="col-7">
				<div id="content-box">
					<div class="title-box png20">
						<div class="title">Hot Campaigns</div>
						<div class="desc">What is currently announced at the Habbo Hotel?</div>
					</div>
					<div class="png20">
						<div class="campaigns">
							<a href="">
								<div class="img" style="background-image:url(https://habboo-a.akamaihd.net/c_images/web_promo/lpromo_Boho_Street_Market.png)"></div>
								<div class="details">
									<div class="title">Lorem ipsum</div>
									<div class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </div>
								</div>
							</a>
						</div>
						<div class="campaigns">
							<a href="">
								<div class="img" style="background-image:url(https://habboo-a.akamaihd.net/c_images/web_promo/lpromo_Boho_Street_Market.png)"></div>
								<div class="details">
									<div class="title">Lorem ipsum</div>
									<div class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </div>
								</div>
							</a>
						</div>
						<div class="campaigns">
							<a href="">
								<div class="img" style="background-image:url(https://habboo-a.akamaihd.net/c_images/web_promo/lpromo_Boho_Street_Market.png)"></div>
								<div class="details">
									<div class="title">Lorem ipsum</div>
									<div class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5">
				<div id="content-box" style="max-height:300px">
					<div class="title-box png20">
						<div class="title">Veranstaltungen</div>
						<div class="desc">Schaue dir die aktuellsten Veranstaltungen im Habbo an</div>
					</div>
					<div class="png20">
								<div class="event">
									<div class="icon" style="width:13%"><i class="fa fa-play fa-2x" aria-hidden="true"></i></div>
									<div class="info" style="width:87%">
										<div class="event_title">Lorem ipsum</div>
										<div class="event_date">Endet am
											<b>02.06.2019</b> um
											<b>21:00 Uhr</b></div>
										<div style="clear: both"></div>
										<div class="event_desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</div>
									</div>
									<div style="clear: both"></div>
								</div>
								<div class="event">
									<div class="icon" style="width:13%"><i class="fa fa-play fa-2x" aria-hidden="true"></i></div>
									<div class="info" style="width:87%">
										<div class="event_title">Lorem ipsum</div>
										<div class="event_date">Startet am
											<b>02.06.2019</b> um
											<b>19:00 Uhr</b></div>
										<div style="clear: both"></div>
										<div class="event_desc">
											Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
										</div>
									</div>
									<div style="clear: both"></div>
								</div>
					</div>
				</div>
			</div>
{% include 'base/footer.html' %}