{% include 'base/header.html' %}
<div class="container">
		<div class="row">
        <link type="text/css" href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
        <div class="col-6">
            <div id="content-box" class="profile">
                <div class="bg"></div>
                <div class="overlay">
                    <div class="avatar-image" style="background-image:url(http://habbo.com/habbo-imaging/avatarimage?figure={{ user['look']}}&size=l&head_direction=3&gesture=sml)"></div>

                    <div class="username">{{ user['username'] }}</div>
                    <div class="motto">{{ user['motto'] }}</div>

                    <div class="last-online">Último Login: {{ user['last_online'] }}</div>
                </div>
                <div style="clear:both"></div>
            </div>

            
            <div class="tease_rooms"></div>
            <div id="content-box">
                <div class="title-box png20">
                    <div class="title">Quartos</div>
                    <div class="desc">Dê uma olhada nos quartos de {{ user['username'] }}</div>
                </div>
                <div class="png20">
                    {% for room in user_rooms %} 
                        <div class="room-thumbnail"><img src=""><div class="room-name">{{ room.caption }}</div></div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="tease_friends"></div>
            <div id="content-box">
                <div class="title-box png20">
                    <div class="title">Amigos</div>
                    <div class="desc">Confira a lista de amigos de {{ user['username'] }}</div>
                </div>
                <div class="png20">
                    {% for friend in user_friends %}
                        <a href="profile?username={{ friend['username'] }}" class="friends-head" style="background-image:url(http://habbo.com/habbo-imaging/avatarimage?figure={{ friend['look'] }}8&size=b&head_direction=3&gesture=sml&headonly=1)"><div class="username">{{ friend['username'] }}</div></a>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>

            <div class="tease_groups"></div>
            <div id="content-box">
                <div class="title-box png20">
                    <div class="title">Grupos</div>
                    <div class="desc">Confira os grupos de {{ user['username'] }}</div>
                </div>
                <div class="png20">
                    {% for group in user_groups %}
                        <div class="group-badge" style="background-image:url(https://www.habbo.de/habbo-imaging/badge/b06094s03175s42174s111171b975e2f5442a16940495a2745449793.gif)"><div class="group-name">{{ group.name }}</div></div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="created_account">{{ user['username']}} juntou-se à comunidade em <br><b>{{ user['account_created'] }}<b>
        </div>
{% include 'base/footer.html' %}
