{% include 'base/header.html' %}
<div class="container">
		<div class="row">
        <link type="text/css" href="css/profile.css" rel="stylesheet">
        <div class="col-6">
            <div id="content-box" class="profile">
                <div class="bg"></div>
                <div class="overlay">
                    <div class="avatar-image" style="background-image:url(http://habbo.com/habbo-imaging/avatarimage?figure=hr-155-31.lg-275-82.hd-180-1391.ch-3323-73-1408.sh-295-1408&size=l&head_direction=3&gesture=sml)"></div>

                    <div class="username">Sonay</div>
                    <div class="motto">Time is just a Illusion</div>

                    <div class="last-online">Letzter Login: 02.06.2019 20:00 Uhr</div>
                </div>
                <div style="clear:both"></div>
            </div>

            
            <div class="tease_rooms"></div>
            <div id="content-box">
                <div class="title-box png20">
                    <div class="title">Räume</div>
                    <div class="desc">Schau dir die Räume von Sonay an</div>
                </div>
                <div class="png20">
                    <div class="room-thumbnail"><div class="room-name">Lorem ipsum</div></div>
                    
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="tease_friends"></div>
            <div id="content-box">
                <div class="title-box png20">
                    <div class="title">Freunde</div>
                    <div class="desc">Schaue dir Sonay's Freundesliste an</div>
                </div>
                <div class="png20">
                    <a href="profile.php" class="friends-head" style="background-image:url(http://habbo.com/habbo-imaging/avatarimage?figure=hr-155-31.lg-275-82.hd-180-1391.ch-3323-73-1408.sh-295-1408&size=b&head_direction=3&gesture=sml&headonly=1)"><div class="username">Sonay</div></a>
                    <a href="profile.php" class="friends-head" style="background-image:url(http://habbo.com/habbo-imaging/avatarimage?figure=hr-155-31.lg-275-82.hd-180-1391.ch-3323-73-1408.sh-295-1408&size=b&head_direction=3&gesture=sml&headonly=1)"><div class="username">Sonay</div></a>
                    
                    <div class="clear"></div>
                </div>
            </div>

            <div class="tease_groups"></div>
            <div id="content-box">
                <div class="title-box png20">
                    <div class="title">Gruppen</div>
                    <div class="desc">Schau dir die Gruppen von Sonay an</div>
                </div>
                <div class="png20">
                    <div class="group-badge" style="background-image:url(https://www.habbo.de/habbo-imaging/badge/b06094s03175s42174s111171b975e2f5442a16940495a2745449793.gif))"><div class="group-name">Lorem</div></div>
                    
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div id="content-box">
                <div class="title-box png20">
                    <div class="title">Fotos</div>
                    <div class="desc">Schau dir die letzten drei geschossenen Fotos von Sonay an</div>
                </div>
                <div class="png20">
                    <div class="row">
                        <div class="col-4">
                            <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png">
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png">
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png">
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png">
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="created_account">Sonay ist am <b>02.06.2019</b><br />der Community beigetreten!</div>
        </div>
{% include 'base/footer.html' %}
