<html>
</body>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ config['cms_name'] }} - Jogar</title>
	<script src="{{ url_for('static', filename='client/js/jquery-latest.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='client/js/jquery-ui.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='client/js/flashclient.js') }}"></script>
	<script src="{{ url_for('static', filename='client/js/flash_detect_min.js') }}"></script>
	<script src="{{ url_for('static', filename='client/js/client.js') }}" type="text/javascript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='client/css/client.css') }}" type="text/css">
	</head>
<body>
		<!-- <script type="text/javascript">
			$(document).ready(function(e) {
				$.ajaxSetup({
					cache:true
				});
				setInterval(function() {
					$('#onlinecount').load('/onlinecountclient');
				}, 8000);
				$( "#onlinecount").click(function() {
					$('#onlinecount').load('/onlinecountclient');
				});
			});
		</script>
		<div class="clientOnlineBox">
			<div class="clientOnlineBoxTxt" id="onlinecount"><small><b><?= Game::usersOnline() ?></b> <?= $config['hotelName'] ?>'s online</small></div>
			<img src="/templates/brain/client/images/onlineiconclient.png" style="width:29px;height:28px;ht; */position: absolute;margin-left: 130px;margin-top: -19px;">
		</div>
		<?php
		}
	?>
	<center> -->
		<div id="client-ui">
			<div class="client" id="client"></div>
		</div>
		<script>
			
			var Client = new SWFObject("{{ url_for('static', filename=config['flash.client.url']) }}Habbo.swf", "client", "100%", "100%", "10.0.0");
			Client.addVariable("client.allow.cross.domain", "{{ config['client.allow.cross.domain'] }}"); 
			Client.addVariable("client.notify.cross.domain", "{{ config['client.notify.cross.domain'] }}");
			Client.addVariable("connection.info.host", "{{ config['connection.info.host'] }}");
			Client.addVariable("connection.info.port", "{{ config['connection.info.port'] }}");
			Client.addVariable("site.url", "{{ config['hotel_url'] }}");
			Client.addVariable("url.prefix", "{{ config['hotel_url'] }}"); 
			Client.addVariable("client.reload.url", "{{ config['hotel_url'] }}/account/me");
			Client.addVariable("client.fatal.error.url", "{{ config['hotel_url'] }}/account/me");
			Client.addVariable("client.connection.failed.url", "{{ config['hotel_url'] }}/account/me");
			Client.addVariable("external.override.variables.txt", "{{ url_for('static', filename='swf/gamedata/override/external_override_variables.txt') }}");
			Client.addVariable("external.variables.txt", "{{ url_for('static', filename=config['external.variables.txt']) }}");
			Client.addVariable("external.texts.txt", "{{ url_for('static', filename=config['external.texts.txt']) }}");
			Client.addVariable("external.figurepartlist.txt", "{{ url_for('static', filename=config['external.figurepartlist.txt']) }}");
			Client.addVariable("flash.dynamic.avatar.download.configuration", "{{ url_for('static', filename=config['flash.dynamic.avatar.download.configuration']) }}");
			Client.addVariable("productdata.load.url", "{{ url_for('static', filename=config['productdata.load.url']) }}");
			Client.addVariable("furnidata.load.url", "{{ url_for('static', filename=config['furnidata.load.url']) }}");
			Client.addVariable("use.sso.ticket", "{{ config['use.sso.ticket'] }}");
			Client.addVariable("sso.ticket", "{{ g.user['auth_ticket'] }}");
			Client.addVariable("processlog.enabled", "{{ config['processlog.enabled'] }}");
			Client.addVariable("client.starting", "{{ config['client.starting'] }}");
			Client.addVariable("flash.client.url", "{{ url_for('static', filename=config['flash.client.url']) }}");
			Client.addVariable("flash.client.origin", "{{ config['flash.client.origin'] }}");
			Client.addVariable("ads.domain", "{{ config['ads.domain'] }}");
			Client.addVariable("diamonds.enabled", "{{ config['diamonds.enabled'] }}");
			Client.addVariable("user.hash", "31385693ae558a03d28fc720be6b41cb1ccfec02");
			Client.addParam('base', "{{ url_for('static', filename=config['flash.client.url']) }}");
			Client.addParam('allowScriptAccess', 'always');
			Client.addParam('wmode', "opaque");
			Client.write('client');
			FlashExternalInterface.signoutUrl = "http://127.0.0.1:5000/account/me";
		</script>
	</center>
</body>
</html>
</center>
</div>
</head>