*.pyc
.env/*
.env
.vscode
.idea/
.vscode/
env_habbo2021/
utils/backups
# Byte-compiled / optimized / DLL files
__pycache__
*/__pycache__/*
*/__pycache__
*.py[cod]
*$py.class
*/*.pyc
/*.pyc

# Static Files
static/swf
static/nitro
