{% load static %}
<html>
    <head>
        <meta charset="utf-8">

        <title>Habbo: Wähle dein Geschlecht und dein Geburtsdatum!</title>

        <link type="text/css" href="{% static "css/registration.css" %}" rel="stylesheet">
    </head>

    <body>
        <div class="main">
            <div class="logo"></div>
            <div class="content-box" id="step-2">
                <div class="title-box">
                    <div class="title">Defina um nome Habbelix e E-mail</div>
                    <div class="steps">2 / 3</div>
                </div>

                <div class="png20">
                    <form action="/register/step3/" method="POST">
                        {% csrf_token %}
                        <!-- <div class="alert">Informe um nome Habbelix</div> -->
							
                        <label for="register-username">Escolha um nome Habbelix</label>
                        <input type="text" id="register-username" name="register-username" value="">
                        <!-- <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p> -->

                        <!-- <div class="alert">Du musst eine E-Mail Adresse angeben.</div> -->
                        
                        <label for="register-mail">Digite seu e-mail</label>
                        <input type="text" id="register-mail" name="register-mail" value="">
                        <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        
                        <input type='hidden' id='register-userdata', name="register-userdata", value="{{ data }}"
                        <a href="/register/" class="btn red back-register">Voltar</a>
                        <button class="btn green next-register">Avançar</button>

                        <div style="clear:both"></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{% static "js/vendor.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
</html>