{% include 'base/header_admin.html' %}
  {% include 'base/sidebar_admin.html' %}
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
           <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img src="http://habbo.com/habbo-imaging/avatarimage?figure={{ g.user['look'] }}8&size=b&head_direction=3&gesture=sml&headonly=1" alt="{{ g.user['username'] }}">
                </div>

                <h3 class="profile-username text-center">{{ user['username'] }}</h3>

                <p class="text-muted text-center">{{ user['motto'] }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Quartos</b> <a class="float-right">{{ user['count_room'] }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Moedas</b> <a class="float-right">{{ user['credits'] }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Diamantes</b> <a class="float-right">{{ user['diamonds'] }}</a>
                  </li>
                </ul>

                <button class="btn btn-primary btn-block"><b>{{ user['ranking_name'] }}</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Histórico</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                <p class="text-muted">
                  B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">UI Design</span>
                  <span class="tag tag-success">Coding</span>
                  <span class="tag tag-info">Javascript</span>
                  <span class="tag tag-warning">PHP</span>
                  <span class="tag tag-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-body">
                <div class="tab-content">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="flash.dynamic.avatar.download.configuration">Usuário</label>
                        <input type="text" class="form-control" name="flash.dynamic.avatar.download.configuration" id="flash.dynamic.avatar.download.configuration" value="{{ config['flash.dynamic.avatar.download.configuration'] }}">
                      </div>
                      <div class="form-group">
                        <label for="flash.dynamic.avatar.download.configuration">E-mail</label>
                        <input type="text" class="form-control" name="flash.dynamic.avatar.download.configuration" id="flash.dynamic.avatar.download.configuration" value="{{ config['flash.dynamic.avatar.download.configuration'] }}">
                      </div>
                      <div class="form-group">
                        <label for="flash.dynamic.avatar.download.configuration">Missão</label>
                        <input type="text" class="form-control" name="flash.dynamic.avatar.download.configuration" id="flash.dynamic.avatar.download.configuration" value="{{ config['flash.dynamic.avatar.download.configuration'] }}">
                      </div>
                      <div class="form-group">
                        <label>Ranking</label>
                        <select class="form-control"  name="ads.domain" id="ads.domain">
                          {% for ranking in rankings %}
                            {% if ranking.id == user.rank %}
                              {% set selected = 'selected' %}
                            {% endif %}
                            <option value="{{ ranking.id }}" {{selected}}>{{ ranking.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Banir</label>
                        {% if config['ads.domain'] == 1 %}
                            {% set selected = 'selected' %}
                            {% set unselected = '' %}
                        {% else %}
                            {% set selected = '' %}
                            {% set unselected = 'selected' %}
                        {% endif %}
                        <select class="form-control"  name="ads.domain" id="ads.domain">
                            <option value="1" {{ selected }}>Sim</option>
                            <option value="2" {{ unselected }}>Não</option>
                        </select>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
      <script type="text/javascript">
       $(document).ready(function() {
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000
            });
            $('form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: 'client_save',
                method: "POST",
                data: $(this).serialize(),
                async: false,
                success: function(result) {
                  Toast.fire({
                    type: 'success',
                    title: ' Configurações salvas com sucesso'
                  })
                },
                error: function(result) {
                  Toast.fire({
                    type: 'error',
                    title: 'Verifique os campos preenchidos'
                  })
                }
            });
        })
    })
    </script>
{% include 'base/footer_admin.html' %}
