{% include 'base/header.html' %}
	<div class="container">
		<div class="row">
            <link type="text/css" href="{{url_for('static', filename='css/settings.css') }}" rel="stylesheet">

            <div class="col-4">
                <a href="settings" id="settings-navigation-box">
                    <div class="png20">
                        <i class="far fa-cog icon"></i>
                        <div class="settings-title">Configurações gerais</div>
                        <div class="settings-desc">Gerencie suas configurações do Hotel</div>
                    </div>
                    <div class="clear"></div>
                </a>
                <a href="settings?step=email" id="settings-navigation-box">
                    <div class="png20">
                        <i class="far fa-envelope icon"></i>
                        <div class="settings-title">Alterar Endereço de E-mail</div>
                        <div class="settings-desc">Altere seu e-mail</div>
                    </div>
                    <div class="clear"></div>
                </a>
                <a href="settings?step=password" id="settings-navigation-box"  class="selected">
                    <div class="png20">
                        <i class="far fa-lock-open-alt icon"></i>
                        <div class="settings-title">Alterar Senha</div>
                        <div class="settings-desc">Altere sua senha</div>
                    </div>
                    <div class="clear"></div>
                </a>
        </div>
<div class="col-8">
    <div class="alert failed">Du musst die Felder ausgefüllt haben.</div>

    <div id="content-box" style="height:570px">
        <div class="title-box png20">
            <div class="title">Passwort ändern</div>
        </div>

        <div class="png20">
            <form method="post">
                <label for="old-password">Altes Password</label>
                <input type="password" id="old-password" name="old_password">
                <div class="desc" style="margin: 0 0 20px 0">Dies benötigen wir, um sicher zu stelllen, dass du der Besitzer des Accounts bist.</div>
                <div class="line"></div>

                <label for="new-password">Neues Password</label>
                <input type="password" id="new-password" name="new_password">
                <div class="desc">Dein neues Passwort sollte wenn möglich mehr als 6 Zeichen beinhalten!.</div>

                <label for="new-password-repeat">Neue E-Mail Adresse wiederholen</label>
                <input type="password" id="new-password-repeat" name="new_password_repeat">
                <div class="desc">Um die Richtigkeit des neuen Passworts zu überprüfen.</div>

                <button class="btn green save">Speichern</button>
            </form>
        </div>
    </div>
</div>
{% include 'base/footer.html' %}