<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ config['cms_name'] }}</title>
        <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>

    <body>
        <!--<div class="error-msg">Die Felder müssen ausgefüllt sein.</div>-->

        <div class="hero">
            <div class="hotel"></div>
        </div>

        <div id="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo"></div>
                        <div class="online-count"><b>0</b> {{ config['cms_name'] }}'s online</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="login-position">
                        <h2>Bem vindo</h2>
                        <form method="post" action="/login">
                            <label for="login">Digite seu nome {{ config['cms_name'] }} ou e-mail</label>
                            <input type="text" name="username" id="username">

                            <label for="password">Senha</label>
                            <input type="password" name="password" id="password">
                            <span id='message_login'></span><br>
                            <button class="btn big green login-button">Entrar</button>
                        </form>
                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>OU</p>
                            </div>
                            <div class="col-md-12">
                                <a href="/register" class="btn big orange register-button">Registre-se</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="community-photos">
                        <h2>Fotos da Comunidade</h2>

                        <div class="row">
                            <div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
							<div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
							<div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
							<div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
							<div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
							<div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
							<div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
							<div class="col-3">
                                <div class="photo" style="background-image:url(https://habbo-stories-content.s3.amazonaws.com/servercamera/purchased/hhus/p-30727250-1559485706998.png)"><div class="overlay"><div class="avatar-head" style="background-image:url(http://habbo.de/habbo-imaging/avatarimage?figure=hr-3707-1342-1348.hd-3100-1392.ch-3199-92.lg-3502-97.sh-3354-110-92.he-3070-1410.ea-3698-97-92.fa-3276-97.ca-3702-92-97.cc-3513-92-97&headonly=1)"></div><div class="username">joeeey-</div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <div id="footer-content">
                        <ul class="footer-links">
                            <li><a href="">Início</a></li>
                            <li><a href="">Contato</a></li>
                        </ul>
                        <p class="footer">Habbelix Hotel &copy; 2019. All rights reserved.<br />Bobba Hotel is no way affiliated with Sulake Corporation Oy.</p>
                    </div>
                </div>
            </div> -->
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: 'login',
                method: "POST",
                data: $(this).serialize(),
                async: false,
                success: function(result) {
                    window.location.href = '/account/me'
                },
                error: function() {
                    document.getElementById('message_login').style.color = 'red';
                    document.getElementById('message_login').innerHTML = 'Usuário ou Senha inválidos';
                }
            });
        })
    })
    </script>
</html>