<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">{{ config['cms_name'] }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Início</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Hotel
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="users">
          <i class="fas fa-fw fa-user"></i>
          <span>Usuários</span>
        </a>
        <a class="nav-link" href="catalog">
          <i class="fas fa-fw fa-user"></i>
          <span>Catálogo</span>
        </a>
        <a class="nav-link" href="coins">
          <i class="fas fa-fw fa-user"></i>
          <span>Moedas</span>
        </a>
        {% if session['rank'] == 9 %}
        <a class="nav-link" href="coins">
          <i class="fas fa-fw fa-user"></i>
          <span>Configurações do Cliente</span>
        </a>
        {% endif %}
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Comunidade
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="news">
          <i class="fas fa-fw fa-user"></i>
          <span>Notícias</span>
        </a>
        <a class="nav-link" href="promotions">
          <i class="fas fa-fw fa-user"></i>
          <span>Promoções</span>
        </a>
        <a class="nav-link" href="social">
          <i class="fas fa-fw fa-user"></i>
          <span>Social</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      CMS
    </div>
    <!-- Sistema - APENAS CEO (Rank 9) PODE MUDAR -->
    {% if session['rank'] == 9 %}
    <li class="nav-item">
      <a class="nav-link" href="system">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Configurações</span></a>
    </li>
    {% endif %}
  </ul>
  <!-- End of Sidebar -->