<html>
    <head>
        <meta charset="utf-8">

        <title>Habbelix: Escolha seu sexo e sua data de nascimento!</title>

        <link type="text/css" href="{{ url_for('static', filename='css/registration.css') }}" rel="stylesheet">
    </head>

    <body>
        <div class="main" style="margin-top: 100px">
            <div class="logo"></div>

            <div class="content-box" id="step-1">
                <div class="title-box">
                    <div class="title">Sexo e data de nascimento</div>
                    <div class="steps">1 / 3</div>
                </div>

                <div class="png20">
                    <form action="/register/step2/" method="POST">
                        <input type="hidden" id="gender" name="gender" value="">

                        <div class="alert">Escolha seu gênero</div>

                        <div class="genders">
                            <label for="male" onclick="$('#gender').val('M')"><div class="male" style="background-image:url(https://www.habbo.de/habbo-imaging/avatarimage?figure=hd-180-1.hr-893-45.lg-280-64.sh-300-64.fa-1201-0.ch-255-62&size=l&headonly=1)"></div></label>

                            <label for="female" onclick="$('#gender').val('F')"><div class="female" style="background-image:url(https://www.habbo.de/habbo-imaging/avatarimage?figure=hd-600-1.hr-540-45.lg-695-62.sh-905-62.ch-660-62&size=l&head_direction=4&headonly=1)"></div></label>
                        </div>
                        <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>


                        <div class="alert">Data de Nascimento</div>

                        <select name="day" id="day" style="width:20%">
                            <option value="">Dia</option>
                            {% for i in month %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <select name="month" id="month" style="width:58%">
                            <option value="">Mês</option>
                            <option value="01">Janeiro</option>
                            <option value="02">Fevereiro</option>
                            <option value="03">Março</option>
                            <option value="04">Abril</option>
                            <option value="05">Maio</option>
                            <option value="06">Junho</option>
                            <option value="07">Julho</option>
                            <option value="08">Agosto</option>
                            <option value="09">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                        <select name="year" id="year" style="width:20%">
                            <option value="">Ano</option>
                            {% for i in year %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <script type="text/javascript">
                            document.getElementById('day').selectedIndex = '';
                            document.getElementById('month').selectedIndex = '';
                            document.getElementById('year').selectedIndex = '';
                        </script>
                        <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

                        <div style="clear:both"></div>

                        <label for="register-username">Escolha um nome Habbelix</label>
                        <input type="text" id="register-username" name="register-username" value="">
                        <!-- <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p> -->

                        <!-- <div class="alert">Du musst eine E-Mail Adresse angeben.</div> -->

                        <label for="register-mail">Digite seu e-mail</label>
                        <input type="text" id="register-mail" name="register-mail" value="">
                        <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

                        <label for="register-password">Senha</label>
                        <input type="password" id="register-password" name="register-password">
                        <div class="alert">A senha deve conter mais de 8 caractéres</div>


                        <!-- <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p> -->

                        <!-- <div class="alert">Die angebenen Passwörter stimmen nicht überein!</div> -->

                        <label for="register-password-repeat">Confirme a senha</label>
                        <input type="password" id="register-password-repeat" name="register-password-repeat">
                        <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>


                        <a href="\" class="btn red back-register">Zerar</a>
                        <button class="btn green next-register">Avançar</button>

                        <div style="clear:both"></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>